.container-tiles{
  position: static;
}
body {

  margin: 0 0;

}

.container-tiles{
    background-color: #e1dbdb
}

.tiles{
    display:grid;

    gap:90px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));

    /*padding:130px;*/
}
hr{
  border:1px solid black;
  width: 27rem;
  background-color: black;
  margin-top:100px;
  margin-bottom: 100px;
}

.zone {
  display: grid;
  /* justify-content: center; */
  /* align-content: center; */
  text-align: center;
  padding:30px 10px 5px 5px;
  margin:10px 80px;
  cursor:pointer;
  /*display:inline-block;
  color:#FFF;
  font-size:2em;*/
  border-radius:10px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
  
    background: #d8d2d2; /* Old browsers */
  /*  background: -moz-linear-gradient(top, #a5a3a3 0%, #d8d2d2 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5a3a3), color-stop(100%,#d8d2d2)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #a5a3a3 0%,#d8d2d2 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #a5a3a3 0%,#d8d2d2 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #a5a3a3 0%,#d8d2d2 100%); /* IE10+ */
    /*background: linear-gradient(top, #a5a3a3 0%,#d8d2d2 100%); /* W3C */
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.zone > img{

  width: 100px;
  align-content: center;
  margin: auto;
  height: 100px;
}

.box > span {
  text-align: center;
  color: #0a0874;
  font-size:small;
  font-weight: bolder;
  font-family:'SourceCodePro-SemiBold.ttf';
}
.box {
  text-align: center;
}

    

.stage {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
  color: #FF0000;
  padding: 30px;
}


.stage .slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.stage .slide .background {
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.stage .slide .contents {
  position: relative;
}
.stage .slide .contents h1 {
  text-align: center;
  font-size: 2.2rem;
}

.stage .slide .contents h2 {
  text-align: center;
  font-size: 1.8rem;
}

.stage .slide .contents .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.stage .slide .contents .icons .icon {
  display: flex;
  align-items: center;
}

.stage .slide .contents .icons .icon img {
  width: 45px;
  height: 45px;
  margin-right: 15px;  
}

.stage .slide .contents .icons .icon h3 {
  font-size: 1.4rem;
}

@font-face {
  font-family: SourceCodePro-SemiBold;
  src: url(SourceCodePro-SemiBold.ttf);
}


.stage .slide:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}

.stage .slide:nth-of-type(2) {
  z-index: 10;
}
.stage .slide:nth-of-type(n + 3) {
  display: none;
}

@keyframes fader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@media (max-width: 600px) {
  .stage .slide .contents h1 {
    font-size: 2rem;
  }
  
  .stage .slide .contents h2 {
    font-size: 1.65rem;
  }

  .stage .slide .contents .icons {
    flex-direction: column;
    align-items: center;
  }

  .stage .slide .contents .icons .icon h3 {
    font-size: 1rem;
  }
  .stage .slide .contents .icons .icon img {
    width: 25px;
    height: 25px;
    margin-right: 5px;  
  }
  
}
